@charset "CP950";
@improt "variables";
/*----------------------------------*/
/* variable
/*----------------------------------*/
/*----------------------------------*/
/* set editor
/*----------------------------------*/
/* line 7, ../sass/editor.scss */
textarea, #wmd-preview {
  padding: 0.5%;
  width: 98%;
  min-height: 250px;
}

/* line 13, ../sass/editor.scss */
.wmd-prompt-background {
  background-color: Black;
}

/* line 18, ../sass/editor.scss */
#wmd-preview {
  border: 2px solid #8d8f92;
  min-height: 50px;
}

/* line 23, ../sass/editor.scss */
li.list-option {
  border-top: 1px solid #999999;
}
/* line 26, ../sass/editor.scss */
li.list-option:hover {
  background-color: #FF9900;
}

/* line 31, ../sass/editor.scss */
.wmd-button {
  width: auto;
  height: auto;
  padding: 1%;
  display: inline-block;
  cursor: pointer;
}

/* line 39, ../sass/editor.scss */
blockquote {
  border-left: 5px solid #35353c;
  padding: 0px 0px 0px 15px;
  margin: 0px 0px 20px 20px;
}

/* line 45, ../sass/editor.scss */
.wmd-prompt-dialog {
  background-color: #F5F5F5;
  width: 400px;
  position: fixed;
  padding: 1%;
  display: block;
  top: 10%;
  left: 35%;
  z-Index: 1001;
}

/* line 56, ../sass/editor.scss */
.wmd-prompt-dialog p {
  line-height: 20px;
  margin: 2%;
}

/* line 61, ../sass/editor.scss */
.wmd-prompt-dialog ul {
  list-style: none;
  text-align: center;
}

/* line 65, ../sass/editor.scss */
ul#menu-ul {
  margin: auto;
  padding: 0px;
  height: 40px;
  display: block;
  text-align: center;
}
/* line 72, ../sass/editor.scss */
ul#menu-ul li {
  cursor: pointer;
}
/* line 76, ../sass/editor.scss */
ul#menu-ul li.pageList {
  margin: auto 1% auto 1%;
  float: left;
  color: blue;
  text-decoration: underline;
}
/* line 82, ../sass/editor.scss */
ul#menu-ul li.pageList ul {
  padding: 0 1% 0 1%;
  width: 400px;
  background-color: #F5F5F5;
  position: fixed;
  left: 35%;
  z-Index: 1001;
}
/* line 92, ../sass/editor.scss */
ul#menu-ul li.list-option {
  width: 400px;
  border-top: 1px solid #999999;
  color: black;
  text-decoration: none;
}

/* line 102, ../sass/editor.scss */
ul#menu-ul li ul {
  display: none;
}

/* line 106, ../sass/editor.scss */
ul#menu-ul .active {
  display: block;
}

/* line 110, ../sass/editor.scss */
p {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

/* line 117, ../sass/editor.scss */
code {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  margin-left: 10px;
  border: 2px solid #35353c;
}

/* line 126, ../sass/editor.scss */
.btn-group {
  display: inline-block;
}

/* line 131, ../sass/editor.scss */
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(images/glyphicons-halflings.png);
  background-repeat: repeat;
  background-position: 14px 14px;
  *margin-right: .3em;
}

/* line 146, ../sass/editor.scss */
[class^="icon-"]:last-child, [class*=" icon-"]:last-child {
  *margin-left: 0;
}

/* line 149, ../sass/editor.scss */
.icon-glass {
  background-position: 0 0;
}

/* line 152, ../sass/editor.scss */
.icon-music {
  background-position: -24px 0;
}

/* line 155, ../sass/editor.scss */
.icon-search {
  background-position: -48px 0;
}

/* line 158, ../sass/editor.scss */
.icon-envelope {
  background-position: -72px 0;
}

/* line 161, ../sass/editor.scss */
.icon-heart {
  background-position: -96px 0;
}

/* line 164, ../sass/editor.scss */
.icon-star {
  background-position: -120px 0;
}

/* line 167, ../sass/editor.scss */
.icon-star-empty {
  background-position: -144px 0;
}

/* line 170, ../sass/editor.scss */
.icon-user {
  background-position: -168px 0;
}

/* line 173, ../sass/editor.scss */
.icon-film {
  background-position: -192px 0;
}

/* line 176, ../sass/editor.scss */
.icon-th-large {
  background-position: -216px 0;
}

/* line 179, ../sass/editor.scss */
.icon-th {
  background-position: -240px 0;
}

/* line 182, ../sass/editor.scss */
.icon-th-list {
  background-position: -264px 0;
}

/* line 185, ../sass/editor.scss */
.icon-ok {
  background-position: -288px 0;
}

/* line 188, ../sass/editor.scss */
.icon-remove {
  background-position: -312px 0;
}

/* line 191, ../sass/editor.scss */
.icon-zoom-in {
  background-position: -336px 0;
}

/* line 194, ../sass/editor.scss */
.icon-zoom-out {
  background-position: -360px 0;
}

/* line 197, ../sass/editor.scss */
.icon-off {
  background-position: -384px 0;
}

/* line 200, ../sass/editor.scss */
.icon-signal {
  background-position: -408px 0;
}

/* line 203, ../sass/editor.scss */
.icon-cog {
  background-position: -432px 0;
}

/* line 206, ../sass/editor.scss */
.icon-trash {
  background-position: -456px 0;
}

/* line 209, ../sass/editor.scss */
.icon-home {
  background-position: 0 -24px;
}

/* line 212, ../sass/editor.scss */
.icon-file {
  background-position: -24px -24px;
}

/* line 215, ../sass/editor.scss */
.icon-time {
  background-position: -48px -24px;
}

/* line 218, ../sass/editor.scss */
.icon-road {
  background-position: -72px -24px;
}

/* line 221, ../sass/editor.scss */
.icon-download-alt {
  background-position: -96px -24px;
}

/* line 224, ../sass/editor.scss */
.icon-download {
  background-position: -120px -24px;
}

/* line 227, ../sass/editor.scss */
.icon-upload {
  background-position: -144px -24px;
}

/* line 230, ../sass/editor.scss */
.icon-inbox {
  background-position: -168px -24px;
}

/* line 233, ../sass/editor.scss */
.icon-play-circle {
  background-position: -192px -24px;
}

/* line 236, ../sass/editor.scss */
.icon-repeat {
  background-position: -216px -24px;
}

/* line 239, ../sass/editor.scss */
.icon-refresh {
  background-position: -240px -24px;
}

/* line 242, ../sass/editor.scss */
.icon-list-alt {
  background-position: -264px -24px;
}

/* line 245, ../sass/editor.scss */
.icon-lock {
  background-position: -287px -24px;
}

/* line 248, ../sass/editor.scss */
.icon-flag {
  background-position: -312px -24px;
}

/* line 251, ../sass/editor.scss */
.icon-headphones {
  background-position: -336px -24px;
}

/* line 254, ../sass/editor.scss */
.icon-volume-off {
  background-position: -360px -24px;
}

/* line 257, ../sass/editor.scss */
.icon-volume-down {
  background-position: -384px -24px;
}

/* line 260, ../sass/editor.scss */
.icon-volume-up {
  background-position: -408px -24px;
}

/* line 263, ../sass/editor.scss */
.icon-qrcode {
  background-position: -432px -24px;
}

/* line 266, ../sass/editor.scss */
.icon-barcode {
  background-position: -456px -24px;
}

/* line 269, ../sass/editor.scss */
.icon-tag {
  background-position: 0 -48px;
}

/* line 272, ../sass/editor.scss */
.icon-tags {
  background-position: -25px -48px;
}

/* line 275, ../sass/editor.scss */
.icon-book {
  background-position: -48px -48px;
}

/* line 278, ../sass/editor.scss */
.icon-bookmark {
  background-position: -72px -48px;
}

/* line 281, ../sass/editor.scss */
.icon-print {
  background-position: -96px -48px;
}

/* line 284, ../sass/editor.scss */
.icon-camera {
  background-position: -120px -48px;
}

/* line 287, ../sass/editor.scss */
.icon-font {
  background-position: -144px -48px;
}

/* line 290, ../sass/editor.scss */
.icon-bold {
  background-position: -167px -48px;
}

/* line 293, ../sass/editor.scss */
.icon-italic {
  background-position: -192px -48px;
}

/* line 296, ../sass/editor.scss */
.icon-text-height {
  background-position: -216px -48px;
}

/* line 299, ../sass/editor.scss */
.icon-text-width {
  background-position: -240px -48px;
}

/* line 302, ../sass/editor.scss */
.icon-align-left {
  background-position: -264px -48px;
}

/* line 305, ../sass/editor.scss */
.icon-align-center {
  background-position: -288px -48px;
}

/* line 308, ../sass/editor.scss */
.icon-align-right {
  background-position: -312px -48px;
}

/* line 311, ../sass/editor.scss */
.icon-align-justify {
  background-position: -336px -48px;
}

/* line 314, ../sass/editor.scss */
.icon-list {
  background-position: -360px -48px;
}

/* line 317, ../sass/editor.scss */
.icon-indent-left {
  background-position: -384px -48px;
}

/* line 320, ../sass/editor.scss */
.icon-indent-right {
  background-position: -408px -48px;
}

/* line 323, ../sass/editor.scss */
.icon-facetime-video {
  background-position: -432px -48px;
}

/* line 326, ../sass/editor.scss */
.icon-picture {
  background-position: -456px -48px;
}

/* line 329, ../sass/editor.scss */
.icon-pencil {
  background-position: 0 -72px;
}

/* line 332, ../sass/editor.scss */
.icon-map-marker {
  background-position: -24px -72px;
}

/* line 335, ../sass/editor.scss */
.icon-adjust {
  background-position: -48px -72px;
}

/* line 338, ../sass/editor.scss */
.icon-tint {
  background-position: -72px -72px;
}

/* line 341, ../sass/editor.scss */
.icon-edit {
  background-position: -96px -72px;
}

/* line 344, ../sass/editor.scss */
.icon-share {
  background-position: -120px -72px;
}

/* line 347, ../sass/editor.scss */
.icon-check {
  background-position: -144px -72px;
}

/* line 350, ../sass/editor.scss */
.icon-move {
  background-position: -168px -72px;
}

/* line 353, ../sass/editor.scss */
.icon-step-backward {
  background-position: -192px -72px;
}

/* line 356, ../sass/editor.scss */
.icon-fast-backward {
  background-position: -216px -72px;
}

/* line 359, ../sass/editor.scss */
.icon-backward {
  background-position: -240px -72px;
}

/* line 362, ../sass/editor.scss */
.icon-play {
  background-position: -264px -72px;
}

/* line 365, ../sass/editor.scss */
.icon-pause {
  background-position: -288px -72px;
}

/* line 368, ../sass/editor.scss */
.icon-stop {
  background-position: -312px -72px;
}

/* line 371, ../sass/editor.scss */
.icon-forward {
  background-position: -336px -72px;
}

/* line 374, ../sass/editor.scss */
.icon-fast-forward {
  background-position: -360px -72px;
}

/* line 377, ../sass/editor.scss */
.icon-step-forward {
  background-position: -384px -72px;
}

/* line 380, ../sass/editor.scss */
.icon-eject {
  background-position: -408px -72px;
}

/* line 383, ../sass/editor.scss */
.icon-chevron-left {
  background-position: -432px -72px;
}

/* line 386, ../sass/editor.scss */
.icon-chevron-right {
  background-position: -456px -72px;
}

/* line 389, ../sass/editor.scss */
.icon-plus-sign {
  background-position: 0 -96px;
}

/* line 392, ../sass/editor.scss */
.icon-minus-sign {
  background-position: -24px -96px;
}

/* line 395, ../sass/editor.scss */
.icon-remove-sign {
  background-position: -48px -96px;
}

/* line 398, ../sass/editor.scss */
.icon-ok-sign {
  background-position: -72px -96px;
}

/* line 401, ../sass/editor.scss */
.icon-question-sign {
  background-position: -96px -96px;
}

/* line 404, ../sass/editor.scss */
.icon-info-sign {
  background-position: -120px -96px;
}

/* line 407, ../sass/editor.scss */
.icon-screenshot {
  background-position: -144px -96px;
}

/* line 410, ../sass/editor.scss */
.icon-remove-circle {
  background-position: -168px -96px;
}

/* line 413, ../sass/editor.scss */
.icon-ok-circle {
  background-position: -192px -96px;
}

/* line 416, ../sass/editor.scss */
.icon-ban-circle {
  background-position: -216px -96px;
}

/* line 419, ../sass/editor.scss */
.icon-arrow-left {
  background-position: -240px -96px;
}

/* line 422, ../sass/editor.scss */
.icon-arrow-right {
  background-position: -264px -96px;
}

/* line 425, ../sass/editor.scss */
.icon-arrow-up {
  background-position: -289px -96px;
}

/* line 428, ../sass/editor.scss */
.icon-arrow-down {
  background-position: -312px -96px;
}

/* line 431, ../sass/editor.scss */
.icon-share-alt {
  background-position: -336px -96px;
}

/* line 434, ../sass/editor.scss */
.icon-resize-full {
  background-position: -360px -96px;
}

/* line 437, ../sass/editor.scss */
.icon-resize-small {
  background-position: -384px -96px;
}

/* line 440, ../sass/editor.scss */
.icon-plus {
  background-position: -408px -96px;
}

/* line 443, ../sass/editor.scss */
.icon-minus {
  background-position: -433px -96px;
}

/* line 446, ../sass/editor.scss */
.icon-asterisk {
  background-position: -456px -96px;
}

/* line 449, ../sass/editor.scss */
.icon-exclamation-sign {
  background-position: 0 -120px;
}

/* line 452, ../sass/editor.scss */
.icon-gift {
  background-position: -24px -120px;
}

/* line 455, ../sass/editor.scss */
.icon-leaf {
  background-position: -48px -120px;
}

/* line 458, ../sass/editor.scss */
.icon-fire {
  background-position: -72px -120px;
}

/* line 461, ../sass/editor.scss */
.icon-eye-open {
  background-position: -96px -120px;
}

/* line 464, ../sass/editor.scss */
.icon-eye-close {
  background-position: -120px -120px;
}

/* line 467, ../sass/editor.scss */
.icon-warning-sign {
  background-position: -144px -120px;
}

/* line 470, ../sass/editor.scss */
.icon-plane {
  background-position: -168px -120px;
}

/* line 473, ../sass/editor.scss */
.icon-calendar {
  background-position: -192px -120px;
}

/* line 476, ../sass/editor.scss */
.icon-random {
  width: 16px;
  background-position: -216px -120px;
}

/* line 480, ../sass/editor.scss */
.icon-comment {
  background-position: -240px -120px;
}

/* line 483, ../sass/editor.scss */
.icon-magnet {
  background-position: -264px -120px;
}

/* line 486, ../sass/editor.scss */
.icon-chevron-up {
  background-position: -288px -120px;
}

/* line 489, ../sass/editor.scss */
.icon-chevron-down {
  background-position: -313px -119px;
}

/* line 492, ../sass/editor.scss */
.icon-retweet {
  background-position: -336px -120px;
}

/* line 495, ../sass/editor.scss */
.icon-shopping-cart {
  background-position: -360px -120px;
}

/* line 498, ../sass/editor.scss */
.icon-folder-close {
  width: 16px;
  background-position: -384px -120px;
}

/* line 502, ../sass/editor.scss */
.icon-folder-open {
  width: 16px;
  background-position: -408px -120px;
}

/* line 506, ../sass/editor.scss */
.icon-resize-vertical {
  background-position: -432px -119px;
}

/* line 509, ../sass/editor.scss */
.icon-resize-horizontal {
  background-position: -456px -118px;
}

/* line 512, ../sass/editor.scss */
.icon-hdd {
  background-position: 0 -144px;
}

/* line 515, ../sass/editor.scss */
.icon-bullhorn {
  background-position: -24px -144px;
}

/* line 518, ../sass/editor.scss */
.icon-bell {
  background-position: -48px -144px;
}

/* line 521, ../sass/editor.scss */
.icon-certificate {
  background-position: -72px -144px;
}

/* line 524, ../sass/editor.scss */
.icon-thumbs-up {
  background-position: -96px -144px;
}

/* line 527, ../sass/editor.scss */
.icon-thumbs-down {
  background-position: -120px -144px;
}

/* line 530, ../sass/editor.scss */
.icon-hand-right {
  background-position: -144px -144px;
}

/* line 533, ../sass/editor.scss */
.icon-hand-left {
  background-position: -168px -144px;
}

/* line 536, ../sass/editor.scss */
.icon-hand-up {
  background-position: -192px -144px;
}

/* line 539, ../sass/editor.scss */
.icon-hand-down {
  background-position: -216px -144px;
}

/* line 542, ../sass/editor.scss */
.icon-circle-arrow-right {
  background-position: -240px -144px;
}

/* line 545, ../sass/editor.scss */
.icon-circle-arrow-left {
  background-position: -264px -144px;
}

/* line 548, ../sass/editor.scss */
.icon-circle-arrow-up {
  background-position: -288px -144px;
}

/* line 551, ../sass/editor.scss */
.icon-circle-arrow-down {
  background-position: -312px -144px;
}

/* line 554, ../sass/editor.scss */
.icon-globe {
  background-position: -336px -144px;
}

/* line 557, ../sass/editor.scss */
.icon-wrench {
  background-position: -360px -144px;
}

/* line 560, ../sass/editor.scss */
.icon-tasks {
  background-position: -384px -144px;
}

/* line 563, ../sass/editor.scss */
.icon-filter {
  background-position: -408px -144px;
}

/* line 566, ../sass/editor.scss */
.icon-briefcase {
  background-position: -432px -144px;
}

/* line 569, ../sass/editor.scss */
.icon-fullscreen {
  background-position: -456px -144px;
}

/* line 572, ../sass/editor.scss */
.icon-code {
  background-position: -384px -168px;
}

/* line 575, ../sass/editor.scss */
.icon-numbered-list {
  background-position: -408px -168px;
}

/* line 578, ../sass/editor.scss */
.icon-hr {
  background-position: -432px -168px;
}

/* line 581, ../sass/editor.scss */
.icon-undo {
  background-position: -456px -168px;
}

/*----------------------------------*/
/* general
/*----------------------------------*/
/* line 11, ../sass/screen.scss */
body {
  background-image: url(images/silver2.png);
  background-repeat: repeat;
  background-position: top left;
  font-size: 0.75em;
  line-height: 40px;
  font-family: '微軟正黑體', 'Helvetica', 'Arial', 'sans-serif';
}

/* line 24, ../sass/screen.scss */
h4 {
  font-size: 1.8em;
}

/* line 27, ../sass/screen.scss */
h5 {
  font-size: 1.5em;
}

/* line 31, ../sass/screen.scss */
h6 {
  font-size: 1.17em;
}

/* line 35, ../sass/screen.scss */
a {
  color: gray;
  text-decoration: none;
  margin: auto;
}
/* line 39, ../sass/screen.scss */
a:hover {
  color: black;
}

/* line 44, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 48, ../sass/screen.scss */
table {
  padding: 1%;
  display: block;
}
/* line 52, ../sass/screen.scss */
table tbody {
  display: block;
  overflow: hidden;
}
/* line 57, ../sass/screen.scss */
table tr, table th, table td, table a {
  display: block;
  padding: 0;
  height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* line 66, ../sass/screen.scss */
table th, table td {
  width: 50%;
  float: left;
  color: #8d8f92;
}
/* line 72, ../sass/screen.scss */
table td#more {
  width: 100%;
}

/* line 77, ../sass/screen.scss */
dl {
  margin: 1% auto 1% auto;
  text-align: left;
  font-size: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 84, ../sass/screen.scss */
dl dt {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: block;
  width: auto;
  padding: 1%;
  color: white;
  background-image: url(images/bar3.png);
  background-repeat: repeat;
  background-position: top left;
}
/* line 97, ../sass/screen.scss */
dl dd {
  margin: 1px auto 1px auto;
}

/* line 103, ../sass/screen.scss */
ul {
  text-align: left;
}

/* line 107, ../sass/screen.scss */
ul#sharebar {
  list-style: none;
}
/* line 109, ../sass/screen.scss */
ul#sharebar a.share-button {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
  margin: 1%;
  background-repeat: no-repeat;
  background-position: top;
}

/* line 146, ../sass/screen.scss */
ul.pagination {
  list-style: none;
  text-align: center;
  padding: 0px 1% 0px 1%;
}
/* line 150, ../sass/screen.scss */
ul.pagination li {
  margin-left: 1%;
  margin-right: 1%;
  display: inline;
}
/* line 156, ../sass/screen.scss */
ul.pagination p {
  margin: auto;
}

/* line 162, ../sass/screen.scss */
input#announcement-title {
  width: 50%;
}

/* line 166, ../sass/screen.scss */
.clear {
  overflow: hidden;
  *zoom: 1;
}

/*----------------------------------*/
/* mobile first
/*----------------------------------*/
/* line 173, ../sass/screen.scss */
.page {
  *zoom: 1;
  max-width: 34em;
  _width: 34em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 174, ../sass/screen.scss */
#wrapper-header {
  width: 100%;
  float: left;
  margin-right: 2.94118%;
  display: inline;
}
/* line 177, ../sass/screen.scss */
#wrapper-header a {
  display: block;
  width: 100%;
}
/* line 182, ../sass/screen.scss */
#wrapper-header #header {
  height: 80px;
  text-align: center;
}
/* line 186, ../sass/screen.scss */
#wrapper-header #header h1 {
  display: inline-block;
  font-family: 'Actor', sans-serif;
  font-size: 40px;
  line-height: 40px;
  color: #1c1b18;
}
/* line 194, ../sass/screen.scss */
#wrapper-header #header:hover {
  -webkit-background-size: 40% auto;
  -moz-background-size: 40% auto;
  -o-background-size: 40% auto;
  background-size: 40% auto;
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  background-position: top;
}
/* line 203, ../sass/screen.scss */
#wrapper-header #header:hover h1 {
  visibility: hidden;
}

/* line 210, ../sass/screen.scss */
#wrapper-sub-nav {
  width: 100%;
  float: left;
  margin-right: 2.94118%;
  display: inline;
}
/* line 213, ../sass/screen.scss */
#wrapper-sub-nav #sub-nav {
  width: 260px;
  height: 40px;
  margin: auto;
}
/* line 218, ../sass/screen.scss */
#wrapper-sub-nav ul#subnavigation {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#wrapper-sub-nav ul#subnavigation li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#wrapper-sub-nav ul#subnavigation li:first-child, #wrapper-sub-nav ul#subnavigation li.first {
  padding-left: 0;
}
/* line 49, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#wrapper-sub-nav ul#subnavigation li:last-child {
  padding-right: 0;
}
/* line 50, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#wrapper-sub-nav ul#subnavigation li.last {
  padding-right: 0;
}

/* line 223, ../sass/screen.scss */
#wrapper-sliderShow {
  width: 100%;
  float: left;
  margin-right: 2.94118%;
  display: inline;
  /* slideshow */
}
/* line 227, ../sass/screen.scss */
#wrapper-sliderShow #sliderShow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 5px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  margin-top: 1%;
}
/* line 233, ../sass/screen.scss */
#wrapper-sliderShow #sliderShow .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 242, ../sass/screen.scss */
#wrapper-sliderShow #sliderShow .rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
/* line 251, ../sass/screen.scss */
#wrapper-sliderShow #sliderShow .rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
/* line 257, ../sass/screen.scss */
#wrapper-sliderShow #sliderShow .rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  max-height: 300px;
  border: 0;
}

/*----------------------------------*/
/* navigation
/*----------------------------------*/
/* line 271, ../sass/screen.scss */
#wrapper-main-nav {
  width: 100%;
  float: left;
  margin-right: 2.94118%;
  display: inline;
  /* outer css import : navbar */
  /* Base Styles */
  /* Sub menu */
}
/* line 274, ../sass/screen.scss */
#wrapper-main-nav #main-nav {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(192, 159, 127, 0.6) 0px 0px 5px;
  -moz-box-shadow: rgba(192, 159, 127, 0.6) 0px 0px 5px;
  box-shadow: rgba(192, 159, 127, 0.6) 0px 0px 5px;
  margin: auto;
  width: 100% -2%;
  padding: 1%;
  overflow: hidden;
}
/* line 283, ../sass/screen.scss */
#wrapper-main-nav #main-nav ul, #wrapper-main-nav #main-nav li, #wrapper-main-nav #main-nav a {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 40px;
  font-size: 14px;
  position: relative;
  text-align: center;
}
/* line 298, ../sass/screen.scss */
#wrapper-main-nav #main-nav > ul > li {
  margin: 0 0 2px 0;
}
/* line 301, ../sass/screen.scss */
#wrapper-main-nav #main-nav > ul > li:last-child {
  margin: 0;
}
/* line 306, ../sass/screen.scss */
#wrapper-main-nav #main-nav > ul > li > a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: block;
  color: #35353c;
  background-image: url(images/bar.png);
  background-repeat: repeat;
  background-position: top left;
}
/* line 317, ../sass/screen.scss */
#wrapper-main-nav #main-nav > ul > li > a:hover {
  color: white;
  background-image: url(images/bar3.png);
  background-repeat: repeat;
  background-position: top left;
}
/* line 327, ../sass/screen.scss */
#wrapper-main-nav #main-nav > ul > li.active > a {
  color: #fff;
  background-image: url(images/bar3.png);
  background-repeat: repeat;
  background-position: top left;
}
/* line 337, ../sass/screen.scss */
#wrapper-main-nav #main-nav ul ul {
  padding: 5px 12px;
  display: none;
  background-color: white;
}
/* line 343, ../sass/screen.scss */
#wrapper-main-nav #main-nav ul ul a {
  color: #35353c;
}
/* line 346, ../sass/screen.scss */
#wrapper-main-nav #main-nav ul ul a:hover {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: white;
  background-image: url(images/bar3.png);
  background-repeat: repeat;
  background-position: top left;
}

/* line 359, ../sass/screen.scss */
#wrapper-main-content {
  width: 100%;
  float: left;
  margin-right: 2.94118%;
  display: inline;
}
/* line 362, ../sass/screen.scss */
#wrapper-main-content #main-content {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  width: 99%;
  padding: 0.5%;
  overflow: hidden;
  background-color: white;
  text-align: center;
}
/* line 372, ../sass/screen.scss */
#wrapper-main-content #main-content h1, #wrapper-main-content #main-content h2, #wrapper-main-content #main-content h3, #wrapper-main-content #main-content h4, #wrapper-main-content #main-content h5, #wrapper-main-content #main-content h6 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 1%;
  line-height: 43px;
  margin: 1%;
  color: white;
  background-image: url(images/bar3.png);
  background-repeat: repeat;
  background-position: top left;
}
/* line 386, ../sass/screen.scss */
#wrapper-main-content #main-content dd h4, #wrapper-main-content #main-content dd h5, #wrapper-main-content #main-content dd h6 {
  background: none;
  color: #35353c;
}
/* line 394, ../sass/screen.scss */
#wrapper-main-content #main-content form#download-modify-form th, #wrapper-main-content #main-content form#download-modify-form td {
  width: 33%;
}
/* line 401, ../sass/screen.scss */
#wrapper-main-content .index-announcement-block {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: auto 0.5% 0.5% 0.5%;
}

/* line 408, ../sass/screen.scss */
#wrapper-footer {
  width: 100%;
  float: left;
  margin-right: 2.94118%;
  display: inline;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 5px;
  margin-top: 1%;
  background: none repeat scroll 0% 0% #1f1c1a;
  overflow: hidden;
}
/* line 417, ../sass/screen.scss */
#wrapper-footer #wrapper-search-box {
  width: 143px;
}
/* line 422, ../sass/screen.scss */
#wrapper-footer #footer {
  width: 180px;
  line-height: 40px;
  margin: auto;
}
/* line 428, ../sass/screen.scss */
#wrapper-footer ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#wrapper-footer ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;   
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#wrapper-footer ul li:first-child, #wrapper-footer ul li.first {
  padding-left: 0;
}
/* line 49, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#wrapper-footer ul li:last-child {
  padding-right: 0;
}
/* line 50, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#wrapper-footer ul li.last {
  padding-right: 0;
}
/* line 432, ../sass/screen.scss */
#wrapper-footer ul li:hover a {
  color: white;
}

/*----------------------------------*/
/* pad
/*----------------------------------*/
@media (min-width: 768px) {
  /* line 443, ../sass/screen.scss */
  .page {
    max-width: 49em;
  }

  /* line 444, ../sass/screen.scss */
  #wrapper-header {
    width: 48.97959%;
    float: left;
    margin-right: 2.04082%;
  }
  /* line 447, ../sass/screen.scss */
  #wrapper-header #header {
    height: 96px;
    line-height: 96px;
  }

  /* line 452, ../sass/screen.scss */
  #wrapper-sub-nav {
    width: 48.97959%;
    float: right;
    margin-right: 0;
  }
  /* line 455, ../sass/screen.scss */
  #wrapper-sub-nav #sub-nav {
    height: 96px;
    line-height: 96px;
  }

  /* line 460, ../sass/screen.scss */
  #wrapper-sliderShow {
    width: 100%;
    float: left;
    margin-right: 2.04082%;
  }

  /* line 461, ../sass/screen.scss */
  #wrapper-main-nav {
    width: 100%;
    float: left;
    margin-right: 2.04082%;
  }

  /* line 462, ../sass/screen.scss */
  #wrapper-main-content {
    width: 100%;
    float: left;
    margin-right: 2.04082%;
  }

  /* line 463, ../sass/screen.scss */
  #wrapper-footer {
    width: 100%;
    float: left;
    margin-right: 2.04082%;
  }
}
/*----------------------------------*/
/* desktop
/*----------------------------------*/
@media (min-width: 1000px) {
  /* line 470, ../sass/screen.scss */
  .page {
    max-width: 69em;
  }

  /* line 471, ../sass/screen.scss */
  #wrapper-header {
    width: 34.78261%;
    float: left;
    margin-right: 1.44928%;
  }

  /* line 472, ../sass/screen.scss */
  #wrapper-sub-nav {
    width: 63.76812%;
    float: right;
    margin-right: 0;
  }

  /* line 473, ../sass/screen.scss */
  #wrapper-sliderShow {
    width: 100%;
    float: left;
    margin-right: 1.44928%;
  }

  /* line 474, ../sass/screen.scss */
  #wrapper-main-nav {
    width: 20.28986%;
    float: left;
    margin-right: 1.44928%;
  }

  /* line 476, ../sass/screen.scss */
  #wrapper-main-content {
    width: 78.26087%;
    float: right;
    margin-right: 0;
    min-height: 520px;
  }
  /* line 480, ../sass/screen.scss */
  #wrapper-main-content .index-announcement-block {
    width: 49%;
    height: 260px;
    line-height: 40px;
    float: left;
  }
  /* line 486, ../sass/screen.scss */
  #wrapper-main-content .first-announcement-block {
    width: 99%;
    height: 280px;
    margin: auto 0.5% 0.5% 0.5%;
  }

  /* line 493, ../sass/screen.scss */
  #wrapper-footer {
    width: 100%;
    float: left;
    margin-right: 1.44928%;
  }
}
